:root {
    --color-primary-900: #011993;
    --color-primary-800: #011ead;
    --color-primary-700: #0122c7;
    --color-primary-600: #0126e0;
    --color-primary-500: #012bfa;
    --color-primary-400: #173efe;
    --color-primary-300: #3153fe;
    --color-primary-200: #4b69fe;
    --color-primary-100: #657efe;

    --color-secondary: #3ad8ff;
}

#main {
    height: 100%;
}

.bg-brand {
    background-color: var(--color-primary-900);
}

.text-align-justify {
    text-align: justify;
}

.navbar {
    background-color: var(--color-primary-900);
}

.navbar .navbar-toggler {
    border: 1px solid var(--color-primary-100);
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: var(--color-secondary);
}

.navbar .dropdown > a {
    text-decoration: none;
}

.navbar .dropdown-menu {
    background-color: var(--color-primary-700);
    padding: 0.5rem 1rem;
}

.social-media > a {
    color: #fff;
    padding: 0 10px;
}

.social-media > a:hover {
    color: #ffffffbf;
}

.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}

.landing-page .logo-wrapper img {
    max-width: 80%;
}

.content-page-list {
    background-color: #fff;
}

.content-page {
    padding: 50px 10px;
}

.content-sub-page {
    padding: 60px 0px;
}

.content-sub-page a {
    color: var(--color-primary-500);
    text-decoration: none;
}

.content-sub-page a:hover {
    text-decoration: underline;
}

.content-sub-page .emoji-style {
    list-style: none;
    padding: 0;
    margin: 0;
}

.content-sub-page .emoji-style li {
    padding-left: 1rem;
}

.content-sub-page .emoji-style li::before {
    content: "🏒";
}

hr {
    color: #ccc;
}

[v-cloak] {
    display: none;
}

/* MOBILE */

@media (max-width: 991px) {
    .content-page__separator--left {
        border-left: none;
    }
}
